html {
  --main-background-color: #FFF4E0;
  --main-text-color: #2F1D28;
  --fade-text-color: #90843C;
  --highlight-color-1: #F7BC1C;
  --highlight-color-1-alt-light: #F9D060;
  --highlight-color-1-alt-dark: #D29E1A;
  --highlight-color-2: #F36724;
  --highlight-color-3: #A30604;
  --highlight-color-4: #7DACAD;
  --background-color-2: #283D5F;

  /* reminder: spinner colors are defined in App.js, so need to edit if changing
  button text colors! */
  --button-hl-color: var(--highlight-color-1);
  --button-normal-text: var(--button-hl-color);
  --button-hover-text: var(--main-text-color);
}

.App {
    font-family: 'Poiret One', cursive;
    text-align: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: var(--main-text-color);
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  overflow: hidden;
}

.App-title {
    font-size: calc(2em + 2vw);
    text-align: center;
    margin-top: calc(5px + 1.5vh);
    margin-bottom: calc(3px + 1vh);
    /* letter-spacing: 0.1em; */
    color: var(--main-background-color);
}

.App-description {
    font-size: calc(1.3em + 1vw);
    text-align: center;
    margin-top: 0;
    color: var(--highlight-color-1);
}

.App-body {
  /* background-color: var(--fade-text-color); */
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    overflow: hidden;
}

.App-footer {
   /* background-color: var(--highlight-color-1); */
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.App-link {
  color: #61dafb;
}

.Name-table {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 600px;
    max-height: 60vh;
    align-items: center;
    overflow: hidden;
    margin-top: 2em;
}

.Name-button-container {
  background: var(--main-text-color);
  padding: 10px;
}

.Name-button {
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  font-size: calc(1em + 0.8vmin);
  font-weight: 600;
  position: relative;
  text-decoration: none;
  padding: 0.5em;
  box-shadow: inset 0 0 0 1px var(--button-hl-color);
  text-align: center;
  margin: 0.5em;
  vertical-align: middle;
}
.Name-button-label {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  color: var(--button-normal-text);
  padding: 1.0em 1.5em;
  transition: color 500ms ease, background-color 500ms ease;
}
.Name-button:hover .Name-button-label, .Name-button:focus .Name-button-label {
  color: var(--button-hover-text);
  background-color: var(--button-hl-color);
}
.Button-ornament {
  position: absolute;
}
.Button-ornament-vertical {
  top: -0.5em;
  bottom: -0.5em;
  left: 0;
  right: 0;
}
.Button-ornament-horizontal {
  left: -0.5em;
  right: -0.5em;
  top: 0;
  bottom: 0;
}
.Button-ornament-top-bottom, .Button-ornament-left-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.Button-ornament-top-bottom:before, .Button-ornament-left-right:before, .Button-ornament-top-bottom:after, .Button-ornament-left-right:after {
  content: '';
  position: absolute;
  background-color: var(--button-hl-color);
  transition: transform 400ms cubic-bezier(0.54, 0.06, 0.39, 0.96);
}
.Button-ornament-top-bottom:before, .Button-ornament-top-bottom:after {
  height: 1px;
  left: 0;
  right: 0;
}
.Button-ornament-top-bottom:before {
  top: 0;
}
.Button-ornament-top-bottom:after {
  bottom: 0;
}
.Button-ornament-left-right:before, .Button-ornament-left-right:after {
  width: 1px;
  top: 0;
  bottom: 0;
}
.Button-ornament-left-right:before {
  left: 0;
}
.Button-ornament-left-right:after {
  right: 0;
}
.Name-button:hover .Button-ornament-left-right:before, .Name-button:focus .Button-ornament-left-right:before, .Name-button:hover .Button-ornament-left-right:after, .Name-button:focus .Button-ornament-left-right:after {
  transform: scale(1, 0);
}
.Name-button:hover .Button-ornament-top-bottom:before, .Name-button:focus .Button-ornament-top-bottom:before, .Name-button:hover .Button-ornament-top-bottom:after, .Name-button:focus .Button-ornament-top-bottom:after {
  transform: scale(0, 1);
}

.Loading-display {
    margin-left: 10px;
}

.Advanced-controls {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-between;
  margin-top: 0.7em;
  align-items: center;
}

.Advanced-user-options-header {
    font-size: calc(0.4em + 1.5vmin);
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.Advanced-user-options-header:hover {
    color: var(--highlight-color-1);
}

.Advanced-user-controls-hidden {
    display: none;
}

.Advanced-user-controls-container {
    display: grid;
    margin: 0.5em
}

.Absurdity-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Prefix-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 1em;
}

input {
  font-family: inherit;
}

.Result-table-scroll-container {
  margin: auto;
  overflow: auto;
  margin-top: 1em;

}

.Result-table {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
}

.Previous-results-list {
    display: block;
    flex-direction: column;
}

.Result {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: 0.2em;
  padding: 0.5em 1.0em;
  border: 15px solid transparent;
  outline-offset: -10px;
}

.Current-result {
  outline: 2px solid var(--highlight-color-3);
  background:
    linear-gradient(var(--highlight-color-3) 0 0) top,
    linear-gradient(var(--highlight-color-3) 0 0) left,
    linear-gradient(var(--highlight-color-3) 0 0) bottom,
    linear-gradient(var(--highlight-color-3) 0 0) right;
  background-size: 200% 2px, 2px 200%;
  background-origin: padding-box;
  background-repeat: no-repeat;
}

.Previous-result {
  color: var(--fade-text-color);
    outline: 2px solid var(--fade-text-color);
  background:
    linear-gradient(var(--fade-text-color) 0 0) top,
    linear-gradient(var(--fade-text-color) 0 0) left,
    linear-gradient(var(--fade-text-color) 0 0) bottom,
    linear-gradient(var(--fade-text-color) 0 0) right;
  background-size: 200% 2px, 2px 200%;
  background-origin: padding-box;
  background-repeat: no-repeat;
}

.Result-name {
    font-size: calc(1em + 2vmin);
}

.Result-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 1em;
}

.Separator-dot {
  height: 0.3rem;
  width: 0.3rem;
  background-color: var(--main-text-color);
  border-radius: 50%;
  display: inline;
  margin-left: 1ex;
  margin-right: 1ex;
}

a {
  color: var(--highlight-color-4);
  text-decoration: none;
}

a:hover {
  color: var(--highlight-color-3);
}
