.App {
    font-family: 'Poiret One', cursive;
    text-align: center;
    display: flex;
    height: 100vh;
    flex-direction: column;
    background-color: #FFF4E0;
    color: #2F1D27;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  /* background-color: #7DACAD; */
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.App-title {
    font-size: calc(2em + 4vw);
    text-align: center;
    margin-bottom: 0.3em;
    letter-spacing: 0.1em;
}

.App-description {
    font-size: calc(1.3em + 2vw);
    text-align: center;
    margin-top: 0;
    color: #90843C;
}

.App-body {
    display: flex;
    min-height: 50vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.App-footer {
   /* background-color: #7DACAD; */
    min-height: 5vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.App-link {
  color: #61dafb;
}

.Name-table {
    display: flex;
    flex-direction: column;
    width: auto;
    max-width: 600px;
    align-items: center;
    overflow: auto;
}

.Name-button {
    font-family: 'Poiret One', cursive;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    background-clip: padding-box;
    background-color: #F7BC1C;
    color: #2F1D28;
    border: 1px solid transparent;
    border-radius: .25rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
    box-sizing: border-box;
    color: #282c34;
    font-size: calc(1.2rem + 2vmin);
    /* font-weight: 600; */
    justify-content: center;
    line-height: 1.25;
    margin: 0;
    min-height: 3rem;
    padding: calc(.875rem - 1px) calc(1.5rem - 1px);
    position: relative;
    text-decoration: none;
    transition: all 250ms;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    width: auto;
}

.Name-button:hover,
.Name-button:focus {
    background-color: #F9D060;
    box-shadow: rgba(0, 0, 0, 0.1) 0, 4px, 12px;
}

.Name-button:hover {
    transform: translateY(-1px);
}

.Name-button:active {
    background-color: #D29E1A;
    box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
    transform: translateY(0);
}

.Loading-display {
    margin-left: 10px;
}

.Advanced-controls {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-between;
  margin-top: 0.7em;
  align-items: center;

}

.Advanced-user-options-header {
    font-size: calc(0.4em + 1.5vmin);
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.Advanced-user-options-header:hover {
    color: #F7BC1C;
    /* font-weight: 600; */
}

.Advanced-user-controls-hidden {
    display: none;
}

.Advanced-user-controls-container {
    display: grid;
    margin: 0.5em
}

.Absurdity-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.Prefix-control {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 1em;
}

.Result-table {
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

.Current-result {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: calc(10px + 5vh);
    /* background-color: #7DACAD */
}

.Result-name {
    font-size: calc(10px + 4vmin);
}

.Result-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 1em;
}

.Previous-results-list {
    display: block;
    flex-direction: column;
}

.Previous-result {
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: #90843C;
    /* background-color: #90843C; */
}

.Separator-dot {
  height: 0.3rem;
  width: 0.3rem;
  background-color: #2F1D27;
  border-radius: 50%;
  display: inline;
  margin-left: 1ex;
  margin-right: 1ex;
}

